
h1 {

	color: #58b4f5;
}

h2 {

	color: #58b4f5;
}

h3 {

	color: #58b4f5;
}

p {

	color: #333333;
}

div p {

	color: #333333;

}


p {
  font-family: "Times New Roman;", Times, serif;
}

h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 2.25rem;
	font-weight: normal;
}

h4 {
	text-transform: uppercase;
}